* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.column-gap-20 {
    gap: 20px 0;
}
.row-gap-20 {
    gap: 0 20px;
}
.box-wrapper {
    margin-bottom: 20px;
    padding: 0 100px;
}
.box-wrapper:last-of-type {
    margin-bottom: 0;
}
.bg-blue {
    background-color: blue;
}
.bg-lightblue {
    background-color: lightblue;
}
.box {
    width: 100%;
    min-height: 200px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 40px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.text-white {
    color: #ffffff;
}
h2 {
    text-align: center;
    margin: 20px 0;
}
p {
    text-align: center;
}
a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    text-decoration: none;
    color: #000000;
}